body{

background:#061321;

color:white;

font-family:Segoe UI,sans-serif;

}

.report-header{

display:flex;

justify-content:space-between;

padding:25px 45px;

background:#081b30;

}

.badge{

background:#ff0033;

padding:12px 20px;

border-radius:30px;

font-weight:bold;

}

.hero{

text-align:center;

padding:60px;

}

.summary{

display:grid;

grid-template-columns:repeat(4,1fr);

gap:25px;

padding:40px;

}

.card{

background:rgba(255,255,255,.05);

padding:35px;

border-radius:18px;

text-align:center;

backdrop-filter:blur(12px);

transition:.3s;

}

.card:hover{

transform:translateY(-8px);

box-shadow:0 0 20px cyan;

}

.card h1{

margin-top:15px;

font-size:50px;

color:#00ffb3;

}

.decision{

padding:40px;

text-align:center;

}

.decision-box{

background:#ff0033;

padding:30px;

font-size:35px;

font-weight:bold;

border-radius:15px;

margin:25px auto;

width:450px;

}

.recommendations{

padding:40px;

}

.recommendations ul{

margin-top:20px;

padding-left:25px;

line-height:40px;

}

.report-table{

padding:40px;

}

table{

width:100%;

border-collapse:collapse;

background:rgba(255,255,255,.05);

}

th,td{

padding:18px;

border:1px solid rgba(255,255,255,.08);

}

th{

background:#0d253d;

}

.exports{

display:flex;

justify-content:center;

gap:25px;

padding:60px;

}

.exports button{

padding:18px 35px;

border:none;

background:#00d4ff;

border-radius:35px;

cursor:pointer;

font-size:18px;

transition:.3s;

}

.exports button:hover{

transform:translateY(-5px);

box-shadow:0 0 25px cyan;

}

footer{

text-align:center;

padding:30px;

margin-top:50px;

background:#081b30;

}

@media(max-width:900px){

.summary{

grid-template-columns:1fr 1fr;

}

}

@media(max-width:650px){

.summary{

grid-template-columns:1fr;

}

.decision-box{

width:100%;

}

.exports{

flex-direction:column;

align-items:center;

}

}