*{

margin:0;
padding:0;
box-sizing:border-box;
font-family:Segoe UI,sans-serif;

}

body{

background:#071426;
overflow-x:hidden;
color:white;

}

header{

display:flex;
justify-content:space-between;
align-items:center;
padding:20px 70px;

}

nav a{

color:white;
text-decoration:none;
margin-left:30px;
transition:.3s;

}

nav a:hover{

color:#00c6ff;

}

.logo{

font-size:25px;
font-weight:bold;
color:#00d4ff;

}

.hero{

display:flex;
justify-content:space-between;
align-items:center;
padding:70px;

}

.hero-left{

width:50%;

}

.hero-left h1{

font-size:60px;

}

.hero-left h3{

color:#00d4ff;
margin:20px 0;

}

.hero-left p{

line-height:30px;
font-size:18px;

}

.buttons{

margin-top:40px;

}

button{

padding:16px 35px;
border:none;
cursor:pointer;
border-radius:50px;
font-size:18px;
margin-right:20px;

}

.primary{

background:#00d4ff;
color:white;
transition:.4s;

}

.primary:hover{

transform:translateY(-5px);
box-shadow:0 0 30px #00d4ff;

}

.secondary{

background:transparent;
border:2px solid #00d4ff;
color:white;

}

.hero-right{

display:flex;
justify-content:center;
align-items:center;
width:40%;

}

.circle{

width:320px;
height:320px;
border-radius:50%;
border:3px solid #00d4ff;
display:flex;
justify-content:center;
align-items:center;
animation:rotate 15s linear infinite;
box-shadow:0 0 60px cyan;

}

.shield{

font-size:120px;

}

.cards{

display:grid;
grid-template-columns:repeat(4,1fr);
gap:25px;
padding:60px;

}

.card{

background:rgba(255,255,255,.05);
padding:35px;
border-radius:20px;
backdrop-filter:blur(12px);
transition:.4s;
border:1px solid rgba(255,255,255,.15);

}

.card:hover{

transform:translateY(-10px);
box-shadow:0 0 30px cyan;

}

.workflow{

padding:70px;
text-align:center;

}

.workflow h2{

margin-bottom:60px;
font-size:40px;

}

.steps{

display:flex;
justify-content:center;
align-items:center;
gap:20px;
flex-wrap:wrap;

}

.step{

width:170px;
height:170px;
background:rgba(255,255,255,.05);
border-radius:20px;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
font-size:45px;

}

.arrow{

font-size:40px;
color:#00d4ff;

}

footer{

text-align:center;
padding:40px;
margin-top:60px;

}

@keyframes rotate{

100%{

transform:rotate(360deg);

}

}

#particles{

position:fixed;
left:0;
top:0;
width:100%;
height:100%;
z-index:-1;

}

canvas{

display:block;

}
.upload-container{

width:90%;
max-width:1100px;

margin:60px auto;

}

.subtitle{

margin:15px 0 40px;

color:#aaa;

}

.upload-card{

display:grid;

grid-template-columns:1fr 1px 1fr;

background:rgba(255,255,255,.05);

backdrop-filter:blur(15px);

border-radius:20px;

padding:40px;

}

#drop-area{

border:2px dashed cyan;

border-radius:20px;

padding:60px;

text-align:center;

transition:.3s;

}

#drop-area.drag{

background:rgba(0,255,255,.1);

}

.upload-icon{

font-size:70px;

margin-bottom:20px;

}

#browseBtn{

padding:15px 35px;

margin-top:20px;

background:#00cfff;

border:none;

border-radius:30px;

cursor:pointer;

font-size:17px;

}

.divider{

background:#333;

width:1px;

}

.repo-section{

padding-left:40px;

display:flex;

flex-direction:column;

}

.repo-section label{

margin-top:20px;

margin-bottom:8px;

}

.repo-section input,
.repo-section select{

padding:15px;

border-radius:10px;

border:none;

background:#15243a;

color:white;

font-size:16px;

}

#scanBtn{

margin-top:40px;

padding:18px;

font-size:18px;

background:#00cfff;

border:none;

border-radius:40px;

cursor:pointer;

transition:.3s;

}

#scanBtn:hover{

transform:translateY(-5px);

box-shadow:0 0 25px cyan;

}

.progress-box{

margin-top:40px;

}

.progress{

width:100%;

height:18px;

background:#222;

border-radius:30px;

overflow:hidden;

}

.progress-fill{

width:0;

height:100%;

background:linear-gradient(90deg,#00d4ff,#00ff99);

transition:.3s;

}

#progressText{

margin-top:15px;

}